* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #222831;
    --grey: #393E46;
    --yellow: #FFD369;
    --white: #EEEEEE;
}

body {
    background-color: var(--black);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
}

nav button {
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background-color: var(--yellow);
    padding: 16px;
}

nav button:hover {
    background-color: var(--white);
}